.order-container {
    background-color: var(--color-bg);
}

.order-image-container {
    width: 35vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.order-image{
    overflow: hidden;
    margin-left: -5rem;
    border-radius: 50%;
}

.order-text {
    font-size: 6rem;
}