.order-container {
    background-color: var(--color-bg);
}

.order-image-container {
    width: 35vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.order-image{
    overflow: hidden;
    margin-left: -5rem;
    border-radius: 50%;
}

.order-text {
    font-size: 6rem;
}

@media screen and (max-width: 600px) {
    .order-container {
        /* flex-direction: column !important; */
        align-items: center !important;
        justify-content: center !important;
    }

    .order-text {
        font-size: 2.5rem !important;
    }

    .order-image {
        margin-left: 0 !important;
    }

    .order-image-container {
        width: 50vw !important;
    }

    .order-container {
        justify-content: center !important;
    }
}