#body-container{
   background-color: rgba(33, 46, 59, 0.9);
   padding-top: .5rem;
   /* background-image: url(../../assets/background.jpeg); */
}

#background-image{
   opacity: 0.6;
   position: absolute;
   z-index: -10;
   margin-top: -34.2rem;
}

#image-right {
   width: 40vw;
   aspect-ratio: 1/1;
}

#place_order{
    background-color: var(--color-primary);
    border: 0px solid;
    border-radius: 15px;
}

.contact-us{
    border: 0px solid;
    border-radius: 15px;
}

.company-name{
    font-size: 5rem;
}

.company-goals{
    margin-top: -1rem;
    font-size: 2.2rem;
}

@media screen and (max-width: 600px) {
    #body-container {
        flex-direction: column-reverse !important;
    }

    .company-name {
        font-size: 3.5rem;
        /* margin-top: 8vh !important; */
        text-align: center !important;
    }

    .company-goals {
        font-size: 1.3rem !important;
        margin-top: -0.5rem !important;
        text-align: center;
    }

    #place_order {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    #order-buttons {
        padding-left: auto !important;
        margin-left: 5vw !important;
    }

    .right-side{
        margin-top: 2vh !important;
        justify-content: center !important;
    }

    #image-right {
        width: 60vw !important;
        margin-left: 15vw !important;
        margin-top: 4vh !important;
    }

    #background-image {
        width: 100vw !important;
        height: 65vh !important;
    }
}