.about-container {
    background-color: var(--color-bg);
    color: var(--color-white);
}

.about-line {
    width: 10vw !important;
    height: 1vh !important;
    margin-top: -1vh !important;
}

.about-text {
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .about-text {
        font-size: 1rem !important;
        letter-spacing: 0.3vw !important;
        width: 90vw !important;
    }

    .about-line {
        width: 25vw !important;
        height: 0.5vh !important;
    }
}