#nav-container {
    box-shadow: 0px 2px 2px -1px, rgba(225, 225, 225, 0.6);
    z-index: 5;
}

#logo {
    width: 40px;
    height: 40px;
}

.desktop-nav {
    display: flex !important;
}

a{
    text-decoration: none !important;
}

.nav-links {
    color: var(--color-bg) !important;
}

.mobile-nav {
    display: none !important;
}

@media screen and (max-width: 600px) {

    .desktop-nav {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important;
    }

    .mobile-nav-links {
        position: absolute !important;
        /* z-index: 3 !important; */
        width: 50vw !important;
        margin-left: -20vw !important;
        backdrop-filter: blur(15px);
        border-radius: 8px;
        gap: 3rem !important;
    }

    .nav-links {
        margin-top: 3vh !important;
        color: var(--color-bg);
    }

    .cancel-button {
        align-items: end !important;
        z-index: initial;
        /* position: absolute !important; */
    }

    .nav-link-text {
        color: var(--color-bg);
    }
}