#nav-container {
    box-shadow: 0px 2px 2px -1px, rgba(225, 225, 225, 0.6);
}

#logo {
    width: 40px;
    height: 40px;
}

.desktop-nav {
    display: flex !important;
}

a{
    text-decoration: none !important;
}

.nav-links {
    color: var(--color-bg) !important;
}

.mobile-nav {
    display: none !important;
}

@media screen and (max-width: 600px) {

    .desktop-nav {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important;
    }
}