.table-container {
    gap: 13vw !important;
}

.table-image{
    border-radius: 70px;
    width: 30vw !important;
    aspect-ratio: 1/1;
    box-shadow: 1px 4px
}

.book-table {
    font-size: 9rem;
    color: var(--color-bg) !important;
    z-index: 2 !important;
}

@media screen and (max-width: 600px) {

    .book-table {
        font-size: 2.5rem !important;
    }

    .table-image {
        width: 40vw !important;
    }
}