.vision-container{
    background-color: var(--color-bg);
}

.empty-line-vision{
    width: 18vw;
    height: 1vh;
}

@media screen and (max-width: 600px) {

    .vision-elements {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
}