.values-container{
    border: 1px solid var(--color-light);
    border-radius: 10px;
    box-shadow: 0px 8px 8px;
}

.values-container-middle{
   border: 1px solid var(--color-light);
   border-radius: 10px;
   box-shadow: 0px 8px 8px;
   height: 44vh;
}

.empty-line{
    background-color: var(--color-bg);
    color: var(--color-bg);
    width: 27vw;
    height: 1vh;
}

.core-values {
    font-size: 2.5rem !important;
}


@media screen and (max-width: 600px) {
    .container-for-values {
        flex-direction: column !important;
        gap: 2rem !important;
        width: auto !important;
        padding: 2rem !important;
    }

    .empty-line {
        width: 85vw !important;
    }

    .values-container-middle {
        height: 38vh !important; 
        font-size: 1.5rem !important;
    }

    .values-container {
        font-size: 1.5rem !important;
    }
}